.login-form
{
justify-content: center;
min-height: 90vh;
}
.button-block{
width: 100%;
}
.login-background
{
justify-content: center;
min-height: 30vh;
padding: 50px;
}


  .logInBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: rgb(32, 32, 95);
    border-radius: 5px;
    z-index:5;
    font-size: 35px;
    margin: 5% auto; 
    left: 0;
    right: 0;
  }