.container {
  border: 1px solid black;
  width: 80%;
}

.box {
  width: 50%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  visibility: visible;
  transition: all 1.5s ease;
}
.endBox {
  width: 800px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  height: 0px;
  visibility: hidden;
  background-color: green;
  transition: all 1.5s ease;
}
.name {
  width: 100%;
  height: 40px;

  display: flex;
  font-size: 15px;
  flex-direction: row;
  margin-bottom: 10px;
}
.userName {
  color: black;
  font-weight: bold;
}
.userTitle {
  color: rgb(163, 163, 163);
}
.userImage {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}
.userInfo {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.userInfo p {
  margin: 0;
}
.question {
  color: black;
  font-weight: bold;
  width: 100%;
  height: 40px;
  text-align: left;
  padding: 10px;
}
.answer {
  width: 100%;

  text-align: left;
  padding: 10px;
}
.replies {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  top: 30px;
  border: 1px solid black;
}
.arrows {
  display: flex;
  flex-direction: row;
}
.arrowBox {
  background-color: gray;
  width: 20px;
  height: 20px;
}

.addComment {
  width: 100%;
  padding: 5px;
  background-color: #d6d6d6;
  display: flex;
  font-size: 15px;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}
.commentBase {
  background-color: white;
  padding-left: 5px;
  border-radius: 5px;
  width: 50%;
  transition: all 1.5s ease;
}
.commentBaseBigger {
  background-color: green;
  padding-left: 5px;
  border-radius: 5px;
  width: 50%;
  transition: all 1.5s ease;
  height: 100px;
}
.commentButton {
  background-color: rgb(21, 21, 248);
  border-radius: 15px;
  position: relative;
  top: 10px;
  height: 30px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  border: 0px;
}
.remake {
  width: 100%;
  background-color: red;
}
